.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/plugin/run/cache/mojang_1.21.4.jar
/plugin/run/cache/mojang_1.21.5.jar
/plugin/run/config/paper-global.yml
/plugin/run/config/paper-world-defaults.yml
/plugin/run/libraries/ca/spottedleaf/concurrentutil/0.0.3/concurrentutil-0.0.3.jar
/plugin/run/libraries/com/fasterxml/jackson/core/jackson-annotations/2.13.4/jackson-annotations-2.13.4.jar
/plugin/run/libraries/com/fasterxml/jackson/core/jackson-core/2.13.4/jackson-core-2.13.4.jar
/plugin/run/libraries/com/fasterxml/jackson/core/jackson-databind/2.13.4.2/jackson-databind-2.13.4.2.jar
/plugin/run/libraries/com/github/oshi/oshi-core/6.6.5/oshi-core-6.6.5.jar
/plugin/run/libraries/com/github/stephenc/jcip/jcip-annotations/1.0-1/jcip-annotations-1.0-1.jar
/plugin/run/libraries/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar
/plugin/run/libraries/com/google/code/gson/gson/2.11.0/gson-2.11.0.jar
/plugin/run/libraries/com/google/errorprone/error_prone_annotations/2.28.0/error_prone_annotations-2.28.0.jar
/plugin/run/libraries/com/google/guava/failureaccess/1.0.2/failureaccess-1.0.2.jar
/plugin/run/libraries/com/google/guava/guava/33.3.1-jre/guava-33.3.1-jre.jar
/plugin/run/libraries/com/google/guava/listenablefuture/9999.0-empty-to-avoid-conflict-with-guava/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
/plugin/run/libraries/com/google/j2objc/j2objc-annotations/3.0.0/j2objc-annotations-3.0.0.jar
/plugin/run/libraries/com/google/protobuf/protobuf-java/4.26.1/protobuf-java-4.26.1.jar
/plugin/run/libraries/com/google/protobuf/protobuf-java/4.29.0/protobuf-java-4.29.0.jar
/plugin/run/libraries/com/googlecode/json-simple/json-simple/1.1.1/json-simple-1.1.1.jar
/plugin/run/libraries/com/lmax/disruptor/3.4.4/disruptor-3.4.4.jar
/plugin/run/libraries/com/microsoft/azure/msal4j/1.17.2/msal4j-1.17.2.jar
/plugin/run/libraries/com/mojang/authlib/6.0.57/authlib-6.0.57.jar
/plugin/run/libraries/com/mojang/authlib/6.0.58/authlib-6.0.58.jar
/plugin/run/libraries/com/mojang/brigadier/1.3.10/brigadier-1.3.10.jar
/plugin/run/libraries/com/mojang/datafixerupper/8.0.16/datafixerupper-8.0.16.jar
/plugin/run/libraries/com/mojang/jtracy/1.0.29/jtracy-1.0.29.jar
/plugin/run/libraries/com/mojang/logging/1.5.10/logging-1.5.10.jar
/plugin/run/libraries/com/mysql/mysql-connector-j/9.1.0/mysql-connector-j-9.1.0.jar
/plugin/run/libraries/com/mysql/mysql-connector-j/9.2.0/mysql-connector-j-9.2.0.jar
/plugin/run/libraries/com/nimbusds/content-type/2.3/content-type-2.3.jar
/plugin/run/libraries/com/nimbusds/lang-tag/1.7/lang-tag-1.7.jar
/plugin/run/libraries/com/nimbusds/nimbus-jose-jwt/9.40/nimbus-jose-jwt-9.40.jar
/plugin/run/libraries/com/nimbusds/oauth2-oidc-sdk/11.18/oauth2-oidc-sdk-11.18.jar
/plugin/run/libraries/com/velocitypowered/velocity-native/3.4.0-SNAPSHOT/velocity-native-3.4.0-SNAPSHOT.jar
/plugin/run/libraries/commons-codec/commons-codec/1.16.0/commons-codec-1.16.0.jar
/plugin/run/libraries/commons-io/commons-io/2.17.0/commons-io-2.17.0.jar
/plugin/run/libraries/commons-lang/commons-lang/2.6/commons-lang-2.6.jar
/plugin/run/libraries/io/leangen/geantyref/geantyref/1.3.16/geantyref-1.3.16.jar
/plugin/run/libraries/io/netty/netty-buffer/4.1.115.Final/netty-buffer-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-buffer/4.1.118.Final/netty-buffer-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-codec/4.1.115.Final/netty-codec-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-codec/4.1.118.Final/netty-codec-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-codec-haproxy/4.1.115.Final/netty-codec-haproxy-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-codec-haproxy/4.1.118.Final/netty-codec-haproxy-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-common/4.1.115.Final/netty-common-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-common/4.1.118.Final/netty-common-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-handler/4.1.115.Final/netty-handler-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-handler/4.1.118.Final/netty-handler-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-resolver/4.1.115.Final/netty-resolver-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-resolver/4.1.118.Final/netty-resolver-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-transport/4.1.115.Final/netty-transport-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-transport/4.1.118.Final/netty-transport-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-transport-classes-epoll/4.1.115.Final/netty-transport-classes-epoll-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-transport-classes-epoll/4.1.118.Final/netty-transport-classes-epoll-4.1.118.Final.jar
/plugin/run/libraries/io/netty/netty-transport-native-epoll/4.1.115.Final/netty-transport-native-epoll-4.1.115.Final-linux-aarch_64.jar
/plugin/run/libraries/io/netty/netty-transport-native-epoll/4.1.115.Final/netty-transport-native-epoll-4.1.115.Final-linux-x86_64.jar
/plugin/run/libraries/io/netty/netty-transport-native-epoll/4.1.118.Final/netty-transport-native-epoll-4.1.118.Final-linux-aarch_64.jar
/plugin/run/libraries/io/netty/netty-transport-native-epoll/4.1.118.Final/netty-transport-native-epoll-4.1.118.Final-linux-x86_64.jar
/plugin/run/libraries/io/netty/netty-transport-native-unix-common/4.1.115.Final/netty-transport-native-unix-common-4.1.115.Final.jar
/plugin/run/libraries/io/netty/netty-transport-native-unix-common/4.1.118.Final/netty-transport-native-unix-common-4.1.118.Final.jar
/plugin/run/libraries/io/papermc/asm-utils/0.0.3/asm-utils-0.0.3.jar
/plugin/run/libraries/io/papermc/paper/paper-api/1.21.4-R0.1-SNAPSHOT/paper-api-1.21.4-R0.1-SNAPSHOT.jar
/plugin/run/libraries/io/papermc/paper/paper-api/1.21.5-R0.1-SNAPSHOT/paper-api-1.21.5-R0.1-SNAPSHOT.jar
/plugin/run/libraries/io/papermc/reflection-rewriter/0.0.3/reflection-rewriter-0.0.3.jar
/plugin/run/libraries/io/papermc/reflection-rewriter-proxy-generator/0.0.3/reflection-rewriter-proxy-generator-0.0.3.jar
/plugin/run/libraries/io/papermc/reflection-rewriter-runtime/0.0.3/reflection-rewriter-runtime-0.0.3.jar
/plugin/run/libraries/it/unimi/dsi/fastutil/8.5.15/fastutil-8.5.15.jar
/plugin/run/libraries/javax/inject/javax.inject/1/javax.inject-1.jar
/plugin/run/libraries/me/lucko/spark-api/0.1-20240720.200737-2/spark-api-0.1-20240720.200737-2.jar
/plugin/run/libraries/me/lucko/spark-paper/1.10.119-20241121.092015-1/spark-paper-1.10.119-20241121.092015-1.jar
/plugin/run/libraries/me/lucko/spark-paper/1.10.133-20250413.112336-1/spark-paper-1.10.133-20250413.112336-1.jar
/plugin/run/libraries/net/java/dev/jna/jna/5.15.0/jna-5.15.0.jar
/plugin/run/libraries/net/java/dev/jna/jna-platform/5.15.0/jna-platform-5.15.0.jar
/plugin/run/libraries/net/kyori/adventure-api/4.20.0/adventure-api-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-api/4.21.0/adventure-api-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-key/4.20.0/adventure-key-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-key/4.21.0/adventure-key-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-logger-slf4j/4.20.0/adventure-text-logger-slf4j-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-logger-slf4j/4.21.0/adventure-text-logger-slf4j-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-minimessage/4.20.0/adventure-text-minimessage-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-minimessage/4.21.0/adventure-text-minimessage-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-ansi/4.20.0/adventure-text-serializer-ansi-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-ansi/4.21.0/adventure-text-serializer-ansi-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-commons/4.20.0/adventure-text-serializer-commons-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-commons/4.21.0/adventure-text-serializer-commons-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-gson/4.20.0/adventure-text-serializer-gson-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-gson/4.21.0/adventure-text-serializer-gson-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-json/4.20.0/adventure-text-serializer-json-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-json/4.21.0/adventure-text-serializer-json-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-legacy/4.20.0/adventure-text-serializer-legacy-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-legacy/4.21.0/adventure-text-serializer-legacy-4.21.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-plain/4.20.0/adventure-text-serializer-plain-4.20.0.jar
/plugin/run/libraries/net/kyori/adventure-text-serializer-plain/4.21.0/adventure-text-serializer-plain-4.21.0.jar
/plugin/run/libraries/net/kyori/ansi/1.1.1/ansi-1.1.1.jar
/plugin/run/libraries/net/kyori/examination-api/1.3.0/examination-api-1.3.0.jar
/plugin/run/libraries/net/kyori/examination-string/1.3.0/examination-string-1.3.0.jar
/plugin/run/libraries/net/kyori/option/1.1.0/option-1.1.0.jar
/plugin/run/libraries/net/md-5/bungeecord-chat/1.20-R0.2-deprecated+build.19/bungeecord-chat-1.20-R0.2-deprecated+build.19.jar
/plugin/run/libraries/net/md-5/bungeecord-chat/1.21-R0.2-deprecated+build.21/bungeecord-chat-1.21-R0.2-deprecated+build.21.jar
/plugin/run/libraries/net/minecrell/terminalconsoleappender/1.3.0/terminalconsoleappender-1.3.0.jar
/plugin/run/libraries/net/minidev/accessors-smart/2.5.1/accessors-smart-2.5.1.jar
/plugin/run/libraries/net/minidev/json-smart/2.5.1/json-smart-2.5.1.jar
/plugin/run/libraries/net/neoforged/AutoRenamingTool/2.0.3/AutoRenamingTool-2.0.3.jar
/plugin/run/libraries/net/neoforged/installertools/cli-utils/2.1.4/cli-utils-2.1.4.jar
/plugin/run/libraries/net/neoforged/javadoctor/gson-io/2.0.17/gson-io-2.0.17.jar
/plugin/run/libraries/net/neoforged/javadoctor/spec/2.0.17/spec-2.0.17.jar
/plugin/run/libraries/net/neoforged/srgutils/1.0.9/srgutils-1.0.9.jar
/plugin/run/libraries/net/sf/jopt-simple/jopt-simple/6.0-alpha-3/jopt-simple-6.0-alpha-3.jar
/plugin/run/libraries/org/apache/commons/commons-lang3/3.17.0/commons-lang3-3.17.0.jar
/plugin/run/libraries/org/apache/httpcomponents/httpclient/4.5.14/httpclient-4.5.14.jar
/plugin/run/libraries/org/apache/httpcomponents/httpcore/4.4.16/httpcore-4.4.16.jar
/plugin/run/libraries/org/apache/logging/log4j/log4j-api/2.24.1/log4j-api-2.24.1.jar
/plugin/run/libraries/org/apache/logging/log4j/log4j-core/2.24.1/log4j-core-2.24.1.jar
/plugin/run/libraries/org/apache/logging/log4j/log4j-iostreams/2.24.1/log4j-iostreams-2.24.1.jar
/plugin/run/libraries/org/apache/logging/log4j/log4j-slf4j2-impl/2.24.1/log4j-slf4j2-impl-2.24.1.jar
/plugin/run/libraries/org/apache/maven/maven-artifact/3.9.6/maven-artifact-3.9.6.jar
/plugin/run/libraries/org/apache/maven/maven-builder-support/3.9.6/maven-builder-support-3.9.6.jar
/plugin/run/libraries/org/apache/maven/maven-model/3.9.6/maven-model-3.9.6.jar
/plugin/run/libraries/org/apache/maven/maven-model-builder/3.9.6/maven-model-builder-3.9.6.jar
/plugin/run/libraries/org/apache/maven/maven-repository-metadata/3.9.6/maven-repository-metadata-3.9.6.jar
/plugin/run/libraries/org/apache/maven/maven-resolver-provider/3.9.6/maven-resolver-provider-3.9.6.jar
/plugin/run/libraries/org/apache/maven/resolver/maven-resolver-api/1.9.18/maven-resolver-api-1.9.18.jar
/plugin/run/libraries/org/apache/maven/resolver/maven-resolver-connector-basic/1.9.18/maven-resolver-connector-basic-1.9.18.jar
/plugin/run/libraries/org/apache/maven/resolver/maven-resolver-impl/1.9.18/maven-resolver-impl-1.9.18.jar
/plugin/run/libraries/org/apache/maven/resolver/maven-resolver-named-locks/1.9.18/maven-resolver-named-locks-1.9.18.jar
/plugin/run/libraries/org/apache/maven/resolver/maven-resolver-spi/1.9.18/maven-resolver-spi-1.9.18.jar
/plugin/run/libraries/org/apache/maven/resolver/maven-resolver-transport-http/1.9.18/maven-resolver-transport-http-1.9.18.jar
/plugin/run/libraries/org/apache/maven/resolver/maven-resolver-util/1.9.18/maven-resolver-util-1.9.18.jar
/plugin/run/libraries/org/checkerframework/checker-qual/3.43.0/checker-qual-3.43.0.jar
/plugin/run/libraries/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.jar
/plugin/run/libraries/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.jar
/plugin/run/libraries/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.jar
/plugin/run/libraries/org/jline/jline-native/3.27.1/jline-native-3.27.1.jar
/plugin/run/libraries/org/jline/jline-reader/3.20.0/jline-reader-3.20.0.jar
/plugin/run/libraries/org/jline/jline-terminal/3.27.1/jline-terminal-3.27.1.jar
/plugin/run/libraries/org/jline/jline-terminal-ffm/3.27.1/jline-terminal-ffm-3.27.1.jar
/plugin/run/libraries/org/jline/jline-terminal-jni/3.27.1/jline-terminal-jni-3.27.1.jar
/plugin/run/libraries/org/joml/joml/1.10.8/joml-1.10.8.jar
/plugin/run/libraries/org/jspecify/jspecify/1.0.0/jspecify-1.0.0.jar
/plugin/run/libraries/org/lz4/lz4-java/1.8.0/lz4-java-1.8.0.jar
/plugin/run/libraries/org/ow2/asm/asm/9.7.1/asm-9.7.1.jar
/plugin/run/libraries/org/ow2/asm/asm/9.8/asm-9.8.jar
/plugin/run/libraries/org/ow2/asm/asm-commons/9.7.1/asm-commons-9.7.1.jar
/plugin/run/libraries/org/ow2/asm/asm-commons/9.8/asm-commons-9.8.jar
/plugin/run/libraries/org/ow2/asm/asm-tree/9.7.1/asm-tree-9.7.1.jar
/plugin/run/libraries/org/ow2/asm/asm-tree/9.8/asm-tree-9.8.jar
/plugin/run/libraries/org/slf4j/jcl-over-slf4j/1.7.36/jcl-over-slf4j-1.7.36.jar
/plugin/run/libraries/org/slf4j/slf4j-api/2.0.16/slf4j-api-2.0.16.jar
/plugin/run/libraries/org/spongepowered/configurate-core/4.2.0-20250225.064233-204/configurate-core-4.2.0-20250225.064233-204.jar
/plugin/run/libraries/org/spongepowered/configurate-yaml/4.2.0-20250225.064233-199/configurate-yaml-4.2.0-20250225.064233-199.jar
/plugin/run/libraries/org/xerial/sqlite-jdbc/3.47.0.0/sqlite-jdbc-3.47.0.0.jar
/plugin/run/libraries/org/xerial/sqlite-jdbc/3.49.1.0/sqlite-jdbc-3.49.1.0.jar
/plugin/run/libraries/org/yaml/snakeyaml/2.2/snakeyaml-2.2.jar
/plugin/run/logs/2025-05-16-1.log.gz
/plugin/run/logs/2025-05-16-2.log.gz
/plugin/run/logs/2025-05-16-3.log.gz
/plugin/run/logs/2025-05-16-4.log.gz
/plugin/run/logs/2025-05-16-5.log.gz
/plugin/run/logs/2025-05-16-6.log.gz
/plugin/run/logs/latest.log
/plugin/run/plugins/.paper-remapped/extra-plugins/index.json
/plugin/run/plugins/.paper-remapped/libraries/index.json
/plugin/run/plugins/.paper-remapped/mappings/reversed/297DD0ABDAF0D3CAF5EC26D87557BA14A45858405C25551918C8C4314BFA742D.tiny
/plugin/run/plugins/.paper-remapped/remap-classpath/297DD0ABDAF0D3CAF5EC26D87557BA14A45858405C25551918C8C4314BFA742D.jar
/plugin/run/plugins/.paper-remapped/unknown-origin/index.json
/plugin/run/plugins/.paper-remapped/index.json
/plugin/run/plugins/bStats/config.yml
/plugin/run/plugins/FastAsyncWorldEdit/lang/strings.json
/plugin/run/plugins/FastAsyncWorldEdit/config.yml
/plugin/run/plugins/FastAsyncWorldEdit/worldedit-config.yml
/plugin/run/plugins/spark/tmp-client/about.txt
/plugin/run/plugins/spark/tmp-client/spark-8d3c1a4370b-libasyncProfiler.so.tmp
/plugin/run/plugins/spark/tmp-client/spark-90ba73fbaae-profile-data.jfr.tmp
/plugin/run/plugins/spark/config.json
/plugin/run/plugins/FastAsyncWorldEdit-Paper-2.13.1-SNAPSHOT-1102.jar
/plugin/run/versions/1.21.4/paper-1.21.4.jar
/plugin/run/versions/1.21.5/paper-1.21.5.jar
/plugin/run/world/advancements/0cd620fc-744c-45e3-b844-c7094841ce66.json
/plugin/run/world/data/chunks.dat
/plugin/run/world/data/raids.dat
/plugin/run/world/data/random_sequences.dat
/plugin/run/world/data/scoreboard.dat
/plugin/run/world/datapacks/bukkit/pack.mcmeta
/plugin/run/world/entities/r.0.0.mca
/plugin/run/world/entities/r.-1.0.mca
/plugin/run/world/entities/r.-1.-1.mca
/plugin/run/world/playerdata/0cd620fc-744c-45e3-b844-c7094841ce66.dat
/plugin/run/world/playerdata/0cd620fc-744c-45e3-b844-c7094841ce66.dat_old
/plugin/run/world/poi/r.0.0.mca
/plugin/run/world/poi/r.-1.0.mca
/plugin/run/world/region/r.0.0.mca
/plugin/run/world/region/r.0.-1.mca
/plugin/run/world/region/r.-1.0.mca
/plugin/run/world/region/r.-1.-1.mca
/plugin/run/world/stats/0cd620fc-744c-45e3-b844-c7094841ce66.json
/plugin/run/world/level.dat
/plugin/run/world/level.dat_old
/plugin/run/world/paper-world.yml
/plugin/run/world/session.lock
/plugin/run/world/uid.dat
/plugin/run/world_nether/DIM-1/data/chunks.dat
/plugin/run/world_nether/DIM-1/data/raids.dat
/plugin/run/world_nether/DIM-1/entities/r.-1.0.mca
/plugin/run/world_nether/DIM-1/region/r.0.0.mca
/plugin/run/world_nether/DIM-1/region/r.0.-1.mca
/plugin/run/world_nether/DIM-1/region/r.-1.0.mca
/plugin/run/world_nether/DIM-1/region/r.-1.-1.mca
/plugin/run/world_nether/level.dat
/plugin/run/world_nether/level.dat_old
/plugin/run/world_nether/paper-world.yml
/plugin/run/world_nether/session.lock
/plugin/run/world_nether/uid.dat
/plugin/run/world_the_end/DIM1/data/chunks.dat
/plugin/run/world_the_end/DIM1/data/raids_end.dat
/plugin/run/world_the_end/DIM1/entities/r.0.0.mca
/plugin/run/world_the_end/DIM1/entities/r.0.-1.mca
/plugin/run/world_the_end/DIM1/entities/r.-1.0.mca
/plugin/run/world_the_end/DIM1/entities/r.-1.-1.mca
/plugin/run/world_the_end/DIM1/region/r.0.0.mca
/plugin/run/world_the_end/DIM1/region/r.0.-1.mca
/plugin/run/world_the_end/DIM1/region/r.-1.0.mca
/plugin/run/world_the_end/DIM1/region/r.-1.-1.mca
/plugin/run/world_the_end/level.dat
/plugin/run/world_the_end/level.dat_old
/plugin/run/world_the_end/paper-world.yml
/plugin/run/world_the_end/session.lock
/plugin/run/world_the_end/uid.dat
/plugin/run/banned-ips.json
/plugin/run/banned-players.json
/plugin/run/bukkit.yml
/plugin/run/commands.yml
/plugin/run/eula.txt
/plugin/run/help.yml
/plugin/run/ops.json
/plugin/run/permissions.yml
/plugin/run/server.properties
/plugin/run/spigot.yml
/plugin/run/usercache.json
/plugin/run/version_history.json
/plugin/run/wepif.yml
/plugin/run/whitelist.json
/.idea/.gitignore
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
